---
import BaseLayout from '../layouts/BaseLayout.astro';
import MultiStepForm from '../components/react/MultiStepForm';
---

<BaseLayout title="Get My Free Audit | MoonTax">
    <main class="min-h-screen flex items-center justify-center relative z-[60] overflow-y-auto w-full">
        <MultiStepForm client:load />
    </main>
</BaseLayout>
